:root {
    --ColorBG:grey;
    --ColorNav:black;
    --ColorTitle:rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  html{
       background-color: grey;
       display: flex;
       justify-content:center;
       flex-direction: columns;
       align-items: center;
       min-height: 100vh;
       font-family: 'Roboto', sans-serif;
   }
   

   td{
    width: 9em;
    border: 1px solid black;
    margin: 2em
   }
   input{
    background-color: burlywood;
    width: 20em;
    height: 2em;
   }

   #nav {
    width: 109em;
    height: 50px;
    background-color: var(--ColorNav);

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.titre {
    color:var(--ColorTitle)
}
button {
    cursor: pointer;
    font-size:medium;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    padding: 2px 7em;
}
#add-supp{
    position: relative;
    left: 4em;
}
#valide{
    position: relative;
    top: 4em;
    right: 18.6em;
}
#tableau{
    position: relative;
    left: 3em;
    border-spacing: 1em;
    border: none;
}
#tableau input{
    border: none;
}
#Eval_name{
    position: relative;
    left: 19em;
    top: -2em;
    border: solid black 2px;
    height: 3em;
    width: 30em;
    text-align: center;

}
#Select_comp{
position: relative;
left: 4em;
}
#modal{
    background-color: red;
    position: relative;
    z-index: 4;
    left: 13em;
    font-size: 8px;
    margin-left: 20em;
    margin-bottom: 20em;
}