/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distribued with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
Color set :
    color: #BDC65B
    color : #FFC770
    color : #F4C4D2
    color : #B3DBDB
*/
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   .header {
    padding: 2px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 1em;
   }

/* .Mise_en_Page{
  background-color: grey;
  margin: 2em;
} */
.Tableau_evaluation{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card_Template{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
  align-items: center;
  margin: 100px auto 0;
  padding: 0 20px;
  max-width: 1200px;
}
   .Evaluation_card {
    background-color:darkblue;
    color: aqua;
    border-radius: 2em;
    padding: 20px;
    min-height: 100px;
    text-align: center;
   }