/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distribued with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
Color set :
    color: #BDC65B
    color : #FFC770
    color : #F4C4D2
    color : #B3DBDB
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   html{
       background-color: #FFC770;
       display: flex;
       justify-content:center;
       flex-direction: columns;
       align-items: center;
       min-height: 100vh;
       font-family: 'Roboto', sans-serif;
   }
   .Form-log input[type='text'], input[type='password']{
       padding: 0.94em 3em;
       background-color:#f2f2f2;
       border: none;
       position: relative;
       margin-bottom: 15px ;
       top: 6em;
       left: 5em;
       color: black;
   }
   .Form-log{
    background-color: white;
    height: 25em;
    width: 25em;
   }
   .Banner{
    background-color: black;
    color: white;
    height: 1em;
    justify-content: center;
    text-align: center;
    padding: 2em;
   }
   .log-button{
    background-color: black;
    color: white;
    border: none;
    position: relative;
    top: 10em;
    width: 10em;
    height: 4em;
    border-radius: 10px;
    left: 10em;
    cursor: pointer;
   }